:root {
  --color-bg: #FFFFFF;
  --color-border: #F8F8F8;
  --color-highlight: #FFF9F9;
  --color-text-light: #626176;
  --color-text-alt: #B9B8C9;
  --color-text: #050505;
  --color-accent: #CF3547;
}
